---
import "../style/style.css";
import "../style/normalize.css";
import MyHeading from "../components/MyHeading.astro";
import About from "../components/About.astro";
import Skills from "../components/skills.astro";
import Project from "../components/projects.astro";
import Contact from "../components/contact.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/05ec568796.js" defer crossorigin="anonymous"></script>
		<script src="/index.js" defer></script>
		<title>Astro</title>
	</head>
	<body>
		<div id="hero">
			<MyHeading/>
			<About/>
		</div>
		<div id="main">
			<Skills/>
			<Project/>
		</div>
		<div id="footer">
			<Contact />
		</div>
	</body>
</html>
