---
import "../style/style.css";
---
<div class="container">
    <div class="about">
        <h1>Nice to meet you! <br> I´m <span>Jakub Majercik</span></h1>
        <p>Based in the SVK, I’m a front-end developer passionate about building accessible web apps that users love.</p>
        <a href="#footer">contact me</a>
    </div>
</div>



<style>
  .container{
    width: 343px;
    font-family: var(--font-family);    
    text-align: center;
    font-size: 16px;
  }
  h1{
    margin: 40px 0 20px 0;
    color: var(--white, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: -1.136px;
  }
  span{
    border-bottom: 4px solid var(--green-color);
  }
  p{
    color: var(--grey, #D9D9D9);
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    margin-bottom: 24px;
  }
  a{
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    letter-spacing: 2.286px;
    background-color: transparent;
    border: unset;
    color: var(--white-color);
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--green-color);
    
  }
</style>