---
import "../style/style.css"
---
<div class="container">
  <div class="top_section">
    <div class="text_section">
      <h2>Contact</h2>
      <p>I would love to hear about your project and how I could help. Please fill in the form, and I’ll get back to you as soon as possible.</p>
    </div>
    <div class="contact_section">
      <form action="" name="myForm">
          <input type="text" name="name" placeholder="NAME">
          <input type="text" name="email" placeholder="EMAIL">
          <textarea name="" id="" cols="30" rows="10" placeholder="MESSAGE"></textarea>
        </form>
      <div class="line top"></div>
      <form id="sendEmail" action="">
        <button onclick="sendEmail()">SEND MESSAGE</button>
      </form>
    </div>

  </div>
  </div>
    <div class="line bottom"></div>
    <div class="footer-socials">
        <div class="logo">jakupmajercik</div>
        <ul class="socials">
            <li><a href="https://github.com/iakupp?tab=repositories"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/jakup_majercik/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/jakub_majercik"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>
    <img class="footer_image" src="/images/slash.png" alt="slash">


<style>

    .container{
        width: 343px;
        position: relative;
        z-index: 999;
    }
    h2{
        padding-top: 60px;
        color: var(--white-color, #fff);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 100% */
        letter-spacing: -1.136px;
    }
    p{
        margin: 20px 0 50px 0;
        color: var(--white-color, #fff);
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 162.5% */
    }
    form{

    }
    input{
        width: 343px;
        height: 43px;
        background-color: transparent !important;
        border: none;
        border-bottom: 1px solid var(--white-color, #fff) ;
        margin-bottom: 32px;
        color: var(--white-color, #fff) !important;
    }
    textarea{
        border: none;
        background-color: transparent;
        width: 343px;
        height: 107px;
        margin-bottom: 32px;
        color: var(--white-color);
    }
    .line{
        margin-top: 80px;
        width: 343px;
        height: 1px;
        margin-inline: auto;
        background-color: var(--white-color, #fff);
    }
    .top{
        margin-top: 80px;
    }
    .bottom{
        margin-top: 40px;
        margin-bottom: 80px;
        position: relative;
    }
    button{
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    letter-spacing: 2.286px;
    background-color: transparent;
    border: unset;
    color: var(--white-color);
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--green-color);
    margin-top: 32px;
    margin-right: -11.5em;
  }
  .footer-socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  .logo{
    color: var(--white-color);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.333px;
    margin-top: 20px;
  }
  ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  li{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 25px;
    font-size: 25px;
    color: var(--white-color);
  }
  i:hover{
    color: var(--green-color);
  }
  li:last-of-type{
    margin-right: 0;
  }
  .footer_image{
    z-index: -20;
    position: absolute;
    left: -15em;
    top: -2em;
    rotate:210deg;
    opacity: .5;
  }


  @media screen and (min-width: 766px){
    .container{
      width: 445px;
      text-align: center;
    }
    h2{
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 72px; /* 100% */
      letter-spacing: -2.045px;
    }
    p{
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 155.556% */
    }
    input{
      width: 100%;
    }
    textarea{
      width: 445px;
    }
    .top{
      width: 445px;
      margin-top: unset !important;
    }
    .bottom{
      width: 706px;
      margin-top: 92px;
    }
    button{
      margin-right: -17.5em;
    }
    .footer-socials{
      width: 706px;
      flex-direction: row;
      justify-content: space-between;
      margin-inline: auto;
    }
    .logo{
      font-size: 32px;
    }
    li{
      height: 25px;
      width: 35px;
    }

    @media screen and (min-width: 1440px){
      .container{
        width: 1110px;
      }
      .top_section{
        padding-top: 84px;
        display: flex;
        justify-content: space-between;
      }
      .text_section{
        text-align: left;
      }
      .text_section p{
        width: 445px;
      }
      .text_section h2{
        font-size: 88px;
      }
      .contact_section{
        width: 445px;
      }
      .line.bottom{
        width: 1110px;
      }
      .footer-socials{
        width: 1100px;
      }
    }
  }
</style>