---
import "../style/style.css";
---


<div class="container">
    <div class="heading">
        <h2>Projects</h2>
        <a class="project-contact" href="#footer">CONTACT ME</a>
    </div>
    
    <div class="projects">
        <div class="cell">
            <img src="/images/design-portfolio.png" alt="sample of webpage">
            <h3 class="heading-m">design portfolio</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <div class="links">
                <a href="#">view project</a>
                <a href="#">view code</a>
            </div>
        </div>
        <div class="cell">
            <img src="/images/e-learning-landing-page.png" alt="sample of webpage">
            <h3 class="heading-m">e learning landing page</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
            <div class="links">
                <a href="#">view project</a>
                <a href="#">view code</a>
            </div>
        </div>
        <div class="cell">
            <img src="/images/todo-web-app.png" alt="sample of webpage">
            <h3 class="heading-m">todo web app</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
            </ul>
            <div class="links">
                <a href="#">view project</a>
                <a href="#">view code</a>
            </div>
        </div>
        <div class="cell">
            <img src="/images/entertainment web app.png" alt="sample of webpage">
            <h3 class="heading-m">entertainment web app</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
            </ul>
            <div class="links">
                <a href="#">view project</a>
                <a href="#">view code</a>
            </div>
        </div>
        <div class="cell">
            <img src="/images/memory-game.png" alt="sample of webpage">
            <h3 class="heading-m">memory game</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
            </ul>
            <div class="links">
                <a href="#">view project</a>
                <a href="#">view code</a>
            </div>
        </div>
        <div class="cell">
            <img src="/images/art-gallery-showcase.png" alt="sample of webpage">
            <h3 class="heading-m">art gallery showcase</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
            </ul>
            <div class="links">
                <a href="#">view project</a>
                <a href="#">view code</a>
            </div>
        </div>
    </div>
</div>



<style>
    .container{
        width: 343px;
    }
    .heading{
        display:flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 61px; */
    }
    h2{
        color: var(--white-color, #FFF);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 100% */
        letter-spacing: -1.136px;
    }
    .project-contact{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 162.5% */
        letter-spacing: 2.286px;
        background-color: transparent;
        border: unset;
        color: var(--white-color);
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--green-color);
        margin: unset !important;
    }
    img{
        width: 345px;
        height: 253px;
        margin-inline: auto;
        margin-top: 40px;
    }
    h3{
        text-align: left;
        text-transform: uppercase;
        margin: 20px 0 7px 0;
    }
    ul{
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
    }
    li{
        color: var(--white-color);
        margin-right: 18px;
    }
    .links{
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
    }
    a{
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    letter-spacing: 2.286px;
    color: var(--white-color);
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--green-color);
    margin: 0 30px 80px 0;
    }

</style>